.todoItem {
    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;
    max-width: 450px;
    background-color: rgb(177, 77, 77);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}